[submodule "ClassExercises/Week1Exercises"]
	path = ClassExercises/Week1Exercises
	url = https://github.com/Ursinus-CS476-F2020/Week1Exercises.git
[submodule "ClassExercises/Week2_Barycentric"]
	path = ClassExercises/Week2_Barycentric
	url = https://github.com/Ursinus-CS476-F2020/Week2_Barycentric.git
[submodule "Lectures/CharacterAnimation/FABRIK"]
	path = Lectures/CharacterAnimation/FABRIK
	url = https://github.com/Ursinus-CS476-F2020/FABRIK.git
[submodule "Assignments/Indy1_GeomPrimitives"]
	path = Assignments/Indy1_GeomPrimitives
	url = https://github.com/Ursinus-CS476-F2020/Indy1_GeomPrimitives.git
