[submodule "ClassExercises/Week1Exercises"]
	path = ClassExercises/Week1Exercises
	url = https://github.com/Ursinus-CS476-F2020/Week1Exercises.git
[submodule "ClassExercises/Week2_Barycentric"]
	path = ClassExercises/Week2_Barycentric
	url = https://github.com/Ursinus-CS476-F2020/Week2_Barycentric.git
[submodule "Lectures/CharacterAnimation/FABRIK"]
	path = Lectures/CharacterAnimation/FABRIK
	url = https://github.com/Ursinus-CS476-F2020/FABRIK.git
[submodule "Assignments/Indy1_GeomPrimitives"]
	path = Assignments/Indy1_GeomPrimitives
	url = https://github.com/Ursinus-CS476-F2020/Indy1_GeomPrimitives.git
[submodule "Materials/EulerAnglesViz"]
	path = Materials/EulerAnglesViz
	url = https://github.com/COMPSCI290-S2016/EulerAnglesViz.git
[submodule "Materials/ggslac"]
	path = Materials/ggslac
	url = https://github.com/ctralie/ggslac.git
[submodule "Materials/MatrixTransformationsLive"]
	path = Materials/MatrixTransformationsLive
	url = https://github.com/Ursinus-CS476-F2020/MatrixTransformationsLive.git
[submodule "Materials/SlerpViz"]
	path = Materials/SlerpViz
	url = https://github.com/COMPSCI290-S2016/SlerpViz.git
[submodule "Materials/JavaScript_MOCAP_Animation"]
	path = Materials/JavaScript_MOCAP_Animation
	url = https://github.com/ctralie/JavaScript_MOCAP_Animation.git
[submodule "ClassExercises/VRAR"]
	path = ClassExercises/VRAR
	url = https://github.com/Ursinus-CS476-F2020/VRAR.git
[submodule "Assignments/Indy2_SceneTrees/Indy2_Dino"]
	path = Assignments/Indy2_SceneTrees/Indy2_Dino
	url = https://github.com/Ursinus-CS476-F2020/Indy2_Dino.git
[submodule "Assignments/Indy2_SceneTrees/ArtContest/ggslac"]
	path = Assignments/Indy2_SceneTrees/ArtContest/ggslac
	url = https://github.com/ctralie/ggslac.git
[submodule "Assignments/Assignment3_Shaders/Assignment3_Shaders"]
	path = Assignments/Assignment3_Shaders/Assignment3_Shaders
	url = https://github.com/Ursinus-CS476-F2020/Assignment3_Shaders.git
[submodule "Assignments/Indy0_SoftwareCheck"]
	path = Assignments/Indy0_SoftwareCheck
	url = https://github.com/Ursinus-CS476-F2020/Indy0_SoftwareCheck.git
[submodule "Assignments/Assignment4_RayTracer/Assignment4_RayTracer"]
	path = Assignments/Assignment4_RayTracer/Assignment4_RayTracer
	url = https://github.com/Ursinus-CS476-F2020/Assignment4_RayTracer.git
[submodule "Assignments/Assignment5_3DShapeModeling"]
	path = Assignments/Assignment5_3DShapeModeling
	url = https://github.com/Ursinus-CS476-F2020/Assignment5_3DShapeModeling.git
